<!-- Credits -->
<div class="credits" style="height: 70px ">
    <div class="section_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="credits_content d-flex flex-row align-items-center justify-content-end">
                        <div class="credits_text" style="position: relative;right: 130px">
                            Copyright 2007 - 2019 vancl.com All Rights Reserved 京ICP证110557号 京公网安备11011602002400号(虚构)
                            <a href="{:url('admin/index/index')}" target="_blank" >后台入口</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>