<div class="products_bar" id="head">
    <div class="section_container">
        <div class="container">
            <div class="row" style="height: 38px">
                <div class="col">
                    <div class="products_bar_content d-flex flex-row align-items-center justify-content-start">
                        <div class="product_categories">
                            <ul class="d-flex flex-row align-items-start justify-content-start flex-wrap" style="margin-bottom: 75px">
                                <li ><a href="{:url('Member/information')}" id="grxx">个人信息</a></li>
                                <li><a href="{:url('member/changePasswordPage')}" id="xgmm">修改密码</a></li>
                                <li><a href="{:url('member/addressPage')}" id="dzgl">地址管理</a></li>
                                <li><a href="{:url('Member/orderPage')}" id="ddgl">订单管理</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--&lt;!&ndash;吸顶 head&ndash;&gt;-->
<!--<script>-->

    <!--$(function() {-->

        <!--var titleTop = $('#head').offset().top;-->

        <!--$(document).on('scroll', function () {-->
            <!--if ($(document).scrollTop() > titleTop) {-->
                <!--$('#head').css({-->
                    <!--"position": "fixed",-->
                    <!--"top": 0-->
                <!--})-->
            <!--} else {-->
                <!--$('.title').css({-->
                    <!--"position": "absolute",-->
                    <!--"top": "20px"-->
                <!--})-->
            <!--}-->
        <!--})-->
    <!--})-->
<!--</script>-->